@{
    ViewBag.Title = "Home Page";
}

<input id="textInput"/>
<button id="clicableButton">Click me</button>
<div id="dangerousDiv"></div>

<input id="secondTextInput" />
<button id="secondClicableButton">Second click me</button>
<div id="secondDangerousDiv"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous"></script>
<script>
    
    $(document).ready(function() {
        var button = $("#secondClicableButton");
        button.click(function () {
            var input = $("#secondTextInput");
            var text = input.val();
            var div = $("#secondDangerousDiv");
            div.html('Inline copy: ' + text);
        });
    });

</script>
